<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tracker</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.tracker.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInputController</display-name>
    <servlet-name>UserInputController</servlet-name>
    <servlet-class>com.tracker.controller.UserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInputController</servlet-name>
    <url-pattern>/UserInputController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllController</display-name>
    <servlet-name>DisplayAllController</servlet-name>
    <servlet-class>com.tracker.controller.DisplayAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllController</servlet-name>
    <url-pattern>/DisplayAllController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayLocationController</display-name>
    <servlet-name>DisplayLocationController</servlet-name>
    <servlet-class>com.tracker.controller.DisplayLocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayLocationController</servlet-name>
    <url-pattern>/DisplayLocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshLocationController</display-name>
    <servlet-name>RefreshLocationController</servlet-name>
    <servlet-class>com.tracker.controller.RefreshLocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshLocationController</servlet-name>
    <url-pattern>/RefreshLocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStatisticsController</display-name>
    <servlet-name>DisplayStatisticsController</servlet-name>
    <servlet-class>com.tracker.controller.DisplayStatisticsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStatisticsController</servlet-name>
    <url-pattern>/DisplayStatisticsController</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/train_journey</param-value>
  </context-param>
  
  <session-config>
  
  <session-timeout>1</session-timeout>
  
  </session-config>
  
  <!-- 
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
    <init-param>
        <param-name>configPath</param-name>
        <param-value>/Shiro.ini</param-value>
    </init-param>
  </filter>

<filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping> -->
  	
</web-app>