<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tracker</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
 	<error-code>500</error-code>
 	<location>/internal-server-error.html</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/page-not-found-error.html</location>
  </error-page>
  <error-page>
	<exception-type>java.lang.Throwable</exception-type>
	<location>/internal-server-error.html</location>
  </error-page>
  
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.tracker.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInputController</display-name>
    <servlet-name>UserInputController</servlet-name>
    <servlet-class>com.tracker.controller.UserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInputController</servlet-name>
    <url-pattern>/UserInputController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllController</display-name>
    <servlet-name>DisplayAllController</servlet-name>
    <servlet-class>com.tracker.controller.DisplayAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllController</servlet-name>
    <url-pattern>/DisplayAllController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayLocationController</display-name>
    <servlet-name>DisplayLocationController</servlet-name>
    <servlet-class>com.tracker.controller.DisplayLocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayLocationController</servlet-name>
    <url-pattern>/DisplayLocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshLocationController</display-name>
    <servlet-name>RefreshLocationController</servlet-name>
    <servlet-class>com.tracker.controller.RefreshLocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshLocationController</servlet-name>
    <url-pattern>/RefreshLocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStatisticsController</display-name>
    <servlet-name>DisplayStatisticsController</servlet-name>
    <servlet-class>com.tracker.controller.DisplayStatisticsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStatisticsController</servlet-name>
    <url-pattern>/DisplayStatisticsController</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/train_journey</param-value>
  </context-param>
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.tracker.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.tracker.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterController</display-name>
    <servlet-name>FilterController</servlet-name>
    <servlet-class>com.tracker.controller.FilterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterController</servlet-name>
    <url-pattern>/FilterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionController</display-name>
    <servlet-name>SessionController</servlet-name>
    <servlet-class>com.tracker.controller.SessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionController</servlet-name>
    <url-pattern>/SessionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecordController</display-name>
    <servlet-name>DeleteRecordController</servlet-name>
    <servlet-class>com.tracker.controller.DeleteRecordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecordController</servlet-name>
    <url-pattern>/DeleteRecordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInputEditController</display-name>
    <servlet-name>UserInputEditController</servlet-name>
    <servlet-class>com.tracker.controller.UserInputEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInputEditController</servlet-name>
    <url-pattern>/UserInputEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInputUpdateController</display-name>
    <servlet-name>UserInputUpdateController</servlet-name>
    <servlet-class>com.tracker.controller.UserInputUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInputUpdateController</servlet-name>
    <url-pattern>/UserInputUpdateController</url-pattern>
  </servlet-mapping>
</web-app>